{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock title %}

{% block css %}
<style>
  .select2-container--default .select2-selection--multiple {
    background-color: #212529;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #2B3035;
  }

  .select2-results {
    background-color: #212529;
  }

  .select2-container--default .select2-results__option--selected {
    background-color: #198754;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #198754;
  }
</style>
{% endblock css %}

{% block content %}
<div class="content">
  <div class="content-header">
    <h4>Dashboard</h4>
  </div>

  <div class="row mt-4">
    <div class="col-md-12 d-flex flex-column gap-2 p-0">
      <label>Selecione a(s) fatura(s):</label>
      <select class="js-example-basic-multiple" name="states[]" multiple="multiple" aria-label="Invoice select">
        {% for invoice in invoices %}
        <option value="{{ invoice.id }}" selected>{{ invoice }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="quick-notes row gap-2 mt-4">
    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Total Gastos</h6>
        </div>
        <div x-data="{ data: null, loading: true }" x-init="fetch('/data/total_debt')
               .then(response => response.json())
               .then(result => data = result)
               .catch(error => console.error('Erro ao buscar os dados:', error))
               .finally(() => loading = false)">
          <div x-show="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div x-show="!loading" x-text="data.detail">
          </div>
        </div>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Quantidade de Compras</h6>
        </div>
        <div x-data="{ data: null, loading: true }" x-init="fetch('/data/count_debt')
               .then(response => response.json())
               .then(result => data = result)
               .catch(error => console.error('Erro ao buscar os dados:', error))
               .finally(() => loading = false)">
          <div x-show="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div x-show="!loading" x-text="data.detail">
          </div>
        </div>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Valor da Maior Compra</h6>
        </div>
        <div x-data="{ data: null, loading: true }" x-init="fetch('/data/greater_debt')
               .then(response => response.json())
               .then(result => data = result)
               .catch(error => console.error('Erro ao buscar os dados:', error))
               .finally(() => loading = false)">
          <div x-show="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div x-show="!loading" x-text="data.detail">
          </div>
        </div>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Quantos Parcelamentos</h6>
        </div>
        <div x-data="{ data: null, loading: true }" x-init="fetch('/data/count_installment_debts')
               .then(response => response.json())
               .then(result => data = result)
               .catch(error => console.error('Erro ao buscar os dados:', error))
               .finally(() => loading = false)">
          <div x-show="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div x-show="!loading" x-text="data.detail">
          </div>
        </div>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Total Parcelamento</h6>
        </div>
        <div x-data="{ data: null, loading: true }" x-init="fetch('/data/sum_installment_debts')
               .then(response => response.json())
               .then(result => data = result)
               .catch(error => console.error('Erro ao buscar os dados:', error))
               .finally(() => loading = false)">
          <div x-show="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div x-show="!loading" x-text="data.detail">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graphs row mt-4 gap-2 flex-wrap">
    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Top 10 maiores gastos</h6>
        </div>
        <div x-data="chartData" x-init="initChart('/data/top_10_most_expenses')" style="height: 400px; width: 100%;"></div>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <div class="title">
          <h6>Top 10 maiores gastos - Parcelamentos</h6>
        </div>
        <div x-data="chartData" x-init="initChart('/data/top_10_most_expenses_installments')" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block javascript %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('chartData', () => ({
      chartInstance: null,
      options: {
        tooltip: {
          trigger: 'item'
        },
        series: [
          {
            name: 'sales',
            type: 'pie',
            data: [],
          },
        ]
      },
      initChart(endpoint) {
        fetch(endpoint)
          .then(response => response.json())
          .then(response_json => {
            console.log(response_json)
            this.options.series[0].data = response_json.detail;
            this.chartInstance = echarts.init(this.$el, 'dark');
            this.chartInstance.setOption(this.options);
          });
      }
    }));
  });
</script>
<script>
  $(document).ready(function () {
    $('.js-example-basic-multiple').select2();
  });
</script>
{% endblock javascript %}