<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body data-bs-theme="dark">
  <div class="container mt-4">
    <form action="{{ url_for('main.upload_pdf') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="pdf" accept="application/pdf">
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if debts %}
    <table class="table">
      <thead>
        <th>Data</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Parcelas</th>
        <th>Parcelas Pagas</th>
      </thead>
      <tbody>
        {% for debt in debts %}
        <tr>
          <td>{{ debt.date }}</td>
          <td>{{ debt.description }}</td>
          <td>{{ debt.amount }}</td>
          <td>{{ debt.total_installments }}</td>
          <td>{{ debt.paid_installments }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% endif %}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>